<%- include('../partials/head')%>
        <h2 style="color: #000000B2; font-size: 2rem; font-weight: 400; font-family:'Josefin Sans', sans-serif;">Verify your e-mail to
            finish signing up</h2>
        <p style="color:grey; font-weight: 300; font-family:'Josefin Sans', sans-serif;">Please confirm that you want to
            use this as your MedLocator account e-mail address by clicking on the button below.
        </p>
        <a href="<%= url %>" style="display: block; width: 90%; margin:2.5rem auto; font-family:'Josefin Sans', sans-serif; color: #FFF; border: 1px solid #0CB2B2; padding: 0.9rem; background: #0CB2B2; text-decoration: none;">VERIFY YOUR EMAIL</a>
<%- include('../partials/tail')%>